.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px; /* посмотрели на размер сетки, обязательно считаем с крайними падингами 1170+15+15 */
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}
