.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer-color);
}
.footer__container {
  display: flex;
}
.footer__adress {
  margin-right: 70px;
}
.footer__logo-position {
  margin-bottom: 20px;
}
.logo__text--color-white {
  color: var(--white-color);
}
.footer__text {
  line-height: 1.71;
  color: var(--white-color);
}
.footer__link {
  text-decoration: none;
  line-height: 1.71;
  display: inline-block;
  margin-top: 9px;
  color: var(--footer-link-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover,
.footer__link:focus {
  color: var(--hover-focus-color);
}
.footer__action-block {
  width: 206px;
}
.footer__action-text {
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  margin-top: 12px;
  font-weight: 700;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer__social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  /* outline: 1px solid red; */
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-block:hover,
.footer__social-block:focus {
  background-color: #188ce8;
  background-color: var(--blue-color);
  border-radius: 50%;
}
.footer__social-block:hover .footer__icon-instagram,
.footer__social-block:hover .footer__icon-twitter,
.footer__social-block:hover .footer__icon-facebook,
.footer__social-block:hover .footer__icon-linkedin,
.footer__social-block:focus .footer__icon-instagram,
.footer__social-block:focus .footer__icon-twitter,
.footer__social-block:focus .footer__icon-facebook,
.footer__social-block:focus .footer__icon-linkedin {
  fill: var(--white-color);
}

.footer__icon-instagram,
.footer__icon-twitter,
.footer__icon-facebook,
.footer__icon-linkedin {
  height: 20px;
  width: 20px;
  fill: var(--white-color);
}

/* форма в футере */
.footer-form {
  display: flex;
  margin-left: 93px;
  margin-top: 12px;
}

.footer-form__email-box {
  display: flex;
  flex-direction: column;
}

.footer-form__label-email {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer-form__input-email {
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-footer-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding-left: 16px;
}

.footer-form__input-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-form__button {
  background-color: var(--blue-color);
  height: 50px;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  margin-top: 36px;
  cursor: pointer;
}

.footer-form__icon-send {
  height: 24px;
  width: 24px;
  fill: var(--white-color);
  margin-left: 10px;
}
