.spesials {
  padding-top: 94px;
  padding-bottom: 0;
}

.spesials__list {
  list-style: none;
  display: flex;
}

.spesials__item {
  width: 270px;
}
.spesials__item:not(:last-child) {
  margin-right: 30px;
}
.spesials__block {
  width: 270px;
  height: 120px;
  /* outline: 1px solid red; */
  background-color: var(--background-team-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

.spesials__icon {
  width: 70px;
  height: 70px;
}

.spesials__title {
  color: var(--black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.spesials__text {
  line-height: 1.71;
}
